$red: #ec5858;
$blue: #0000ff;
$green: #03ce79;
$white: #fff;
$black: #000;
$purple: #c41bff;
$black_333: #333;
$black_555: #555;
$black_56: #565656;
$black_666: #666;
$black_777: #777;
$black_bbb: #bbb;
$black_bf: #dfdfdf;
$black_1E: #1e1e1e;
