// Pretendard
@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/pretendard/Pretendard-Regular.otf');
}

@font-face {
  font-family: 'Pretendard Thin';
  src: url('assets/fonts/pretendard/Pretendard-Thin.otf');
}

@font-face {
  font-family: 'Pretendard Extra Light';
  src: url('assets/fonts/pretendard/Pretendard-ExtraLight.otf');
}

@font-face {
  font-family: 'Pretendard Light';
  src: url('assets/fonts/pretendard/Pretendard-Light.otf');
}

@font-face {
  font-family: 'Pretendard Medium';
  src: url('assets/fonts/pretendard/Pretendard-Medium.otf');
}

@font-face {
  font-family: 'Pretendard SemiBold';
  src: url('assets/fonts/pretendard/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: 'Pretendard Bold';
  src: url('assets/fonts/pretendard/Pretendard-Bold.otf');
}

@font-face {
  font-family: 'Pretendard Extra Bold';
  src: url('assets/fonts/pretendard/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: 'Pretendard Black';
  src: url('assets/fonts/pretendard/Pretendard-Black.otf');
}

// LG Smart
@font-face {
  font-family: 'LG Smart';
  src: url('assets/fonts/lg-smart/LGSmHaR_v1.4_151215.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LG Smart Light';
  src: url('assets/fonts/lg-smart/LGSMHAL_V1.4_151215.ttf');
}

@font-face {
  font-family: 'LG Smart SemiBold';
  src: url('assets/fonts/lg-smart/LGSMHASB_V1.4_151215.ttf');
}

@font-face {
  font-family: 'LG Smart Bold';
  src: url('assets/fonts/lg-smart/LGSMHAB_V1.4_151215.ttf');
}

@font-face {
  font-family: 'Arial';
  src: url('assets/fonts/arial/ARIAL.ttf');
}

// Arial

@font-face {
  font-family: 'Arial Bold';
  src: url('assets/fonts/arial/ARIALBD.ttf');
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('assets/fonts/arial/ARIALN.ttf');
}

@font-face {
  font-family: 'Arial Narrow Black';
  src: url('assets/fonts/arial/ARIALNB.ttf');
}

@font-face {
  font-family: 'Arial Narrow Italic';
  src: url('assets/fonts/arial/ARIALNI.ttf');
}

@font-face {
  font-family: 'Arial Narrow Italic Bold';
  src: url('assets/fonts/arial/ARIALNBI.ttf');
}

@font-face {
  font-family: 'Arial Italic';
  src: url('assets/fonts/arial/ARIALI.ttf');
}

@font-face {
  font-family: 'Arial Italic Bold';
  src: url('assets/fonts/arial/ARIALNBI.ttf');
}
