.home {
  background-color: #FFF4FF;
  //home_bg
  height: calc(100% - 74px);
  .visual {
    background: linear-gradient(264deg, rgba(189, 0, 255, 0.3) 0%, rgba(233, 23, 124, 0.09) 100%);
    .bg {
      height: 500px;
      @include backgroundImage($height: 500px, $url: 'assets/images/home/visual_bg.png');
      text-align: center;
      padding: 144px 0 81px;
      .home_editor {
        margin: 0 auto;
        position: relative;
        .visual_editor {
          @include flex();
          position: absolute;
          left: 0;
          right: 0;
          top: -15px;
          .editor_edit {
            flex-grow: 0;
            background-color: $black_333;
            .edit {
              border: 0;
            }
          }
        }
      }
      .button {
        margin: 30px auto 0;
        @include buttonStyle(
          $width: 142px,
          $height: 50px,
          $color: $white,
          $radius: 30px,
          $size: 16px,
          $weight: 700,
          $line: 21.28px,
          $bgColor: #c41bff
        );
      }
    }
  }
  .home_card {
    @include backgroundImage($height:calc(100% - 500px), $url: 'assets/images/home/home_bg.png', $position: right bottom);
    padding: 52px 0;
    min-height: 452px;
    ul {
      margin: 0 auto;
      @include flex();
      li {
        @include flex($direction: column);
        width: 278px;
        height: 350px;
        margin: 0 9px;
        background: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        p {
          margin: 36px 0 8px;
          @include fontSetting($color: $black_333, $line: 37.24px, $size: 28px, $weight: 700);
        }
        div {
          text-align: center;
          @include fontSetting($color: $black_333, $line: 18.6px, $size: 14px);
        }
      }
      $cards: (card1, card2, card3);
      @each $card in $cards {
        li.#{$card} {
          &::before {
            content: '';
            display: block;
            width: 94px;
            height: 83px;
            @include backgroundImage($width: 94px, $height: 83px, $url: 'assets/images/home/#{$card}.png');
          }
        }
      }
    }
  }
}
